<div>
    <h1>edit / update page</h1>
    <form action="/edit/{{_id}}" method="GET">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">_id</th>
                    <th scope="col">ubezpieczony</th>
                    <th scope="col">benzyna</th>
                    <th scope="col">uszkodzony</th>
                    <th scope="col">naped4x4</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each Doc}}
                <tr>
                    {{#if this.isEdited}}
                    <td><input type="hidden" name="_id" value="{{this._id}}">{{this._id}}</td>
                    <td>
                        <select name="ubezpieczony">
                            <option value="tak" {{#if (eq this.ubezpieczony "tak" )}}selected{{/if}}>tak</option>
                            <option value="nie" {{#if (eq this.ubezpieczony "nie" )}}selected{{/if}}>nie</option>
                            <option value="brak" {{#if (eq this.ubezpieczony "brak" )}}selected{{/if}}>brak</option>
                        </select>
                    </td>
                    <td>
                        <select name="benzyna">
                            <option value="tak" {{#if (eq this.benzyna "tak" )}}selected{{/if}}>tak</option>
                            <option value="nie" {{#if (eq this.benzyna "nie" )}}selected{{/if}}>nie</option>
                            <option value="brak" {{#if (eq this.benzyna "brak" )}}selected{{/if}}>brak</option>
                        </select>
                    </td>
                    <td>
                        <select name="uszkodzony">
                            <option value="tak" {{#if (eq this.uszkodzony "tak" )}}selected{{/if}}>tak</option>
                            <option value="nie" {{#if (eq this.uszkodzony "nie" )}}selected{{/if}}>nie</option>
                            <option value="brak" {{#if (eq this.uszkodzony "brak" )}}selected{{/if}}>brak</option>
                        </select>
                    </td>
                    <td>
                        <select name="naped">
                            <option value="tak" {{#if (eq this.naped "tak" )}}selected{{/if}}>tak</option>
                            <option value="nie" {{#if (eq this.naped "nie" )}}selected{{/if}}>nie</option>
                            <option value="brak" {{#if (eq this.naped "brak" )}}selected{{/if}}>brak</option>
                        </select>
                    </td>
                    <td>
                        <input name="type" type="submit" class="btn btn-danger" value="UPDATE" />
                    </td>
                    <td>
                        <a href="/edit" class="btn btn-dark">CANCEL</a>
                    </td>
                    {{else}}
                    <td>{{this._id}}</td>
                    <td>{{this.ubezpieczony}}</td>
                    <td>{{this.benzyna}}</td>
                    <td>{{this.uszkodzony}}</td>
                    <td>{{this.naped}}</td>
                    <td>
                        <a href="/edit/{{this._id}}">
                            <button type="button" class="btn btn-dark">EDIT</button>
                        </a>
                    </td>
                    <td></td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>